.container {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.price {
  align-self: center;
  justify-items: center;
}
.button-group {
  display: flex;
  .button {
    height: 30px;
  }
  .amount {
    height: 30px;
    padding-top: 3px;
  }
}
