.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 1px solid black;
  gap: 10px;
  padding: 10px;
}

.img {
  width: 50%;
  height: 300px;
  object-fit: contain;
}
.title {
  text-align: center;
}
.rating {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 20px;
}
.price {
  font-size: 32px;
  color: green;
}
.addToCart {
  width: 100%;
  display: flex;
  align-items: baseline;
  justify-content: space-evenly;
}
