@font-face {
  font-family: "NewsCycle";
  src: url("../public//fonts/NewsCycle-Regular.ttf") format("truetype");
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: left;
  border: 1px solid black;
  gap: 10px;
  padding: 10px;
  border-radius: 12px;
  background-color: white;
}

.img {
  width: 50%;
  height: 50%;
  object-fit: contain;
  align-self: center;
}
.title {
  align-self: center;
  text-align: left;
  font-weight: bold;
  font-size: 1.2rem;
  font-family: "NewsCycle", sans-serif;
}
.rating {
  font-family: "NewsCycle", sans-serif;
  font-weight: bold;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 20px;
}
.price {
  font-family: "NewsCycle", sans-serif;
  font-weight: bold;
  font-size: 32px;
  color: green;
}
.addToCart {
  width: 100%;
  display: flex;
  align-items: baseline;
  justify-content: left;
  gap: 30px;
}
