@font-face {
  font-family: "NewsCycle";
  src: url("../public//fonts/NewsCycle-Regular.ttf") format("truetype");
}
.product {
  font-family: "NewsCycle", sans-serif;
  font-weight: bold;
  height: 60px;
  font-size: 1.2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px grey solid;
}
.productLeft {
}
.productRight {
  width: 250px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.price {
  color: green;
  font-size: 24px;
}
.quantity {
  display: flex;
  align-items: center;
}
.customTextField {
  width: 50px;
}
