@font-face {
  font-family: "Oswald";
  src: url("../public//fonts/Oswald-Regular.ttf") format("truetype");
}

.container {
  font-family: "Oswald";
  height: 80px;
  display: flex;
  justify-content: right;
  align-items: center;
  gap: 40px;
  padding-right: 60px;
  background-color: black;
  font-size: 24px;
  user-select: none;
}
.container a {
  color: white;
  text-decoration: none;
}
