.container {
  height: 50px;
  display: flex;
  justify-content: right;
  align-items: center;
  gap: 30px;
  padding-right: 60px;
  background-color: black;
}
.container a {
  color: white;
  text-decoration: none;
}
