.container {
  display: flex;

  align-items: center;
  width: 100%;
  overflow: hidden; /* To hide the text when it slides out of the container */
  height: 100%;
}

.content {
  font-size: 800px;
  white-space: nowrap; /* To prevent text wrapping */
}
.slidingText {
  position: relative;

  animation: slideLeft 15s linear infinite; /* 10s duration, linear speed, infinite loop */
}
@keyframes slideLeft {
  from {
    left: 100%; /* Start from the right side of the container */
  }
  to {
    left: -4050px; /* End at the left side of the container */
  }
}
